# Комаров Данил ИАД-2

# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile
import time

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
def read_files(filename):
    with ZipFile('Data.zip') as myzip:
        with myzip.open(filename) as myfile:
            data = pd.read_csv(myfile)
    return data

In [3]:
info_filenames = ZipFile('Data.zip').namelist()[1:11]
data_info = pd.concat(list(map(lambda x: read_files(x), info_filenames)))

In [4]:
marks_filenames = ZipFile('Data.zip').namelist()[11:]
data_marks = pd.concat(list(map(lambda x: read_files(x), marks_filenames)))

In [5]:
df = data_info.merge(data_marks, on='index')
df.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [6]:
df.drop('index', axis=1, inplace=True)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [7]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [8]:
df.describe().T

                count    mean        std   min    25%   50%   75%    max
math score     1000.0  66.089  15.163080   0.0  57.00  66.0  77.0  100.0
reading score  1000.0  69.169  14.600192  17.0  59.00  70.0  79.0  100.0
writing score  1000.0  68.054  15.195657  10.0  57.75  69.0  79.0  100.0

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [9]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [10]:
df[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [11]:
df.groupby('test preparation course').agg('mean')

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [12]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [13]:
df.rename({'parental level of education': 'education', 
           'test preparation course': 'test preparation'}, axis=1, inplace=True)

**Зафиксируем минимальный балл для сдачи экзамена**

In [14]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [15]:
pass_math = df[df['math score'] >= passmark].shape[0] / df.shape[0]
print(f'first question: {pass_math}')

pass_math_course = df[(df['math score'] >= passmark) & (df['test preparation'] == 'completed')].shape[0] \
                                                        / df[df['test preparation'] == 'completed'].shape[0]
print(f'second question: {pass_math_course}')

not_pass_female = df[(df['math score'] < passmark) & (df['test preparation'] == 'none') \
                     & (df['gender'] == 'female')].shape[0] / df[(df['test preparation'] == 'none') \
                                                                 & (df['gender'] == 'female')].shape[0]
                                                                                           
print(f'third qustion: {not_pass_female}')

first question: 0.865
second question: 0.9217877094972067
third qustion: 0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [16]:
start_time = time.time()
print(df.groupby('race/ethnicity', as_index=False).agg('mean')[['race/ethnicity', 'reading score']])
print(f'time: {time.time() - start_time}')

  race/ethnicity  reading score
0        group A      64.674157
1        group B      67.352632
2        group C      69.103448
3        group D      70.030534
4        group E      73.028571
time: 0.009371280670166016

In [17]:
start_time = time.time()
print(df.groupby('education', as_index=False).agg('min')[['education', 'writing score']])
print(f'time: {time.time() - start_time}')

            education  writing score
0  associate's degree             35
1   bachelor's degree             38
2         high school             15
3     master's degree             46
4        some college             19
5    some high school             10
time: 0.04717087745666504

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [18]:
start_time = time.time()
data_race = pd.DataFrame()
sum_group_a, sum_group_b, sum_group_c, sum_group_d, sum_group_e = 0, 0, 0, 0, 0
count_group_a, count_group_b, count_group_c, count_group_d, count_group_e = 0, 0, 0, 0, 0
for i in range(len(df['race/ethnicity'])):
    if df['race/ethnicity'][i] == 'group A':
        sum_group_a += df['reading score'][i]
        count_group_a += 1
    elif df['race/ethnicity'][i] == 'group B':
        sum_group_b += df['reading score'][i]
        count_group_b += 1
    elif df['race/ethnicity'][i] == 'group C':
        sum_group_c += df['reading score'][i]
        count_group_c += 1
    elif df['race/ethnicity'][i] == 'group D':
        sum_group_d += df['reading score'][i]
        count_group_d += 1
    elif df['race/ethnicity'][i] == 'group E':
        sum_group_e += df['reading score'][i]
        count_group_e += 1
data_race['race/ethnicity'] = ['group A', 'group B', 'group C', 'group D', 'group E']
data_race['reading score'] = [sum_group_a/count_group_a, sum_group_b/count_group_b, sum_group_c/count_group_c,
                              sum_group_d/count_group_d, sum_group_e/count_group_e]
print(data_race)
print(f'time: {time.time() - start_time}')

  race/ethnicity  reading score
0        group A      64.674157
1        group B      67.352632
2        group C      69.103448
3        group D      70.030534
4        group E      73.028571
time: 0.06465697288513184

In [19]:
start_time = time.time()
data_education = pd.DataFrame()
min_associate, min_bachelor, min_high, min_master, min_college, min_some_high = 100, 100, 100, 100, 100, 100
for i in range(len(df['education'])):
    if df['education'][i] == "associate's degree" and df['writing score'][i] <= min_associate:
        min_associate = df['writing score'][i]

    elif df['education'][i] == "bachelor's degree" and df['writing score'][i] <= min_bachelor:
        min_bachelor = df['writing score'][i]
        
    elif df['education'][i] == "high school" and df['writing score'][i] <= min_high:
        min_high = df['writing score'][i]
        
    elif df['education'][i] == "master's degree" and df['writing score'][i] <= min_master:
        min_master = df['writing score'][i]
        
    elif df['education'][i] == "some college" and df['writing score'][i] <= min_college:
        min_college = df['writing score'][i]
        
    elif df['education'][i] == "some high school" and df['writing score'][i] <= min_some_high:
        min_some_high = df['writing score'][i]

data_education['education'] = ["associate's degree", "bachelor's degree", "high school", 
                               "master's degree", "some college", "some high school"]
data_education['writing score'] = [min_associate, min_bachelor, min_high, min_master, min_college, min_some_high]
print(data_education)
print(f'time: {time.time() - start_time}')

            education  writing score
0  associate's degree             35
1   bachelor's degree             38
2         high school             15
3     master's degree             46
4        some college             19
5    some high school             10
time: 0.13673710823059082

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [20]:
pd.pivot_table(df, index=['gender','education'], values=['math score', 'reading score', 'writing score'])

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [21]:
df['Math_PassStatus'] = np.where(df['math score'] < passmark, 'F', 'P')
df['Reading_PassStatus'] = np.where(df['reading score'] < passmark, 'F', 'P')
df['Writing_PassStatus'] = np.where(df['writing score'] < passmark, 'F', 'P')

def pass_course(course_pass_status):
    return df[df[course_pass_status] == 'P'].shape[0], df[df[course_pass_status] == 'F'].shape[0]

print(f"pass math: {pass_course('Math_PassStatus')[0]}, didn't pass math: {pass_course('Math_PassStatus')[1]}")
print(f"pass reading: {pass_course('Reading_PassStatus')[0]}, didn't pass reading: {pass_course('Reading_PassStatus')[1]}")
print(f"pass writing: {pass_course('Writing_PassStatus')[0]}, didn't pass writing: {pass_course('Writing_PassStatus')[1]}")

pass math: 865, didn't pass math: 135
pass reading: 910, didn't pass reading: 90
pass writing: 886, didn't pass writing: 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [22]:
condition = ((df['Math_PassStatus'] == 'F') | (df['Reading_PassStatus'] == 'F') | (df['Writing_PassStatus'] == 'F'))
df['OverAll_PassStatus'] = np.where(condition, 'F', 'P')

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [23]:
def GetGrade(average_mark):
    return str(np.where(average_mark < 50, 'F',
                        np.where(50 <= average_mark < 60, 'E',
                                 np.where(60 <= average_mark < 70, 'D',
                                          np.where(70 <= average_mark < 80, 'C',
                                                   np.where(80 <= average_mark < 90, 'B',
                                                            np.where(average_mark >= 90, 'A', 'None')))))))

df['Grade'] = ((df['math score'] + df['reading score'] + df['writing score']) / 3).apply(GetGrade)
df['Grade'].value_counts()

C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64